
html {
  font-family: 'M PLUS Rounded 1c' !important;
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'M PLUS Rounded 1c' !important;
  margin-bottom: 2rem;
  background-color: #f5f5f5 !important;
}
.container.post {
  padding-bottom: 4rem !important;
 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}

.form {
  background-color: #1a2a36;
  padding: 2rem 3rem 2rem 3rem;
  border-radius: 0.3rem;
  opacity: 0.9;
}

@media only screen and (max-width: 800px) {
  #pagination {
    margin-top: 1.5rem;
  }
  }
